{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}


{% block body %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card blue-grey darken-4">
            <div class="card-content white-text">
                <form class="form" action="" method="post">
                    {{ form.hidden_tag() }}
                    {% for field in form %}
                        {{ render_field(field) }}
                    {% endfor %}
                    <button class="btn btn-teal waves-effect" type="submit" id="submit">Submit Post</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}